{% extends 'base.html.twig' %}

{% block title %}Editing tag: {{ tag.name }}{% endblock %}

{% form_theme myForm 'modals/_collection.html.twig' %}

{% block body %}
    <div class="container">
    
        {{form_start(myForm)}}

            {{form_widget(myForm)}}
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{{ path('admin_tags_index') }}" class="btn btn-secondary">Back</a>

        {{form_end(myForm)}}
    
    </div>
{% endblock %}